<header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title">DevLogger</td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2">
                
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </header>
    <div id="content-wrapper" class="mui--text-center">
     <logs></logs>
      <br>
    </div>